<h1>Ayuda</h1>

<p>
    Quiz es una red social para crear adivinanzas. Permite a múltiples usuarios compratir adivinanzas.
</p>

<p>
   Haz click en <a href="/quizzes/randomplay">jugar</a> para empezar una ronda de preguntas aleatorias. En el momento que falles, tu puntuación se reiniciará y tendrás que volver a empezar.
</p>

<p>
   Ahora también puedes añadir tus propias pistas o usar las que han añadido otros usuarios para intentar acertar más respuestas. Puedes confiar en las pistas, ya que estas son <strong>revisadas por los administradores</strong> antes de ser publicadas.   
</p>

<p>
   No olvides <a href="/users/new">registrarte</a> para añadir tus propias preguntas y pistas.
</p>
